{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'app/css/login.css' %}" rel="stylesheet" />
    <title>Login Form</title>
</head>
<body>
    <!--Form đăng nhập-->
    <div class="login-container">
        <h2>LOGIN</h2>

        <!--Nhập email-->
        <div class="input-group">
            <input type="email or user" placeholder="Email or user" required>
        </div>

        <!--Nhập mật khẩu-->
        <div class="input-group">
            <input type="password" placeholder="Password" required>
        </div>

        <!--Mục quên mật khẩu-->
        <div class="options">
            <label><input type="checkbox"> Remember me</label>
            <a href="#" style="color: lightgray;">Forgot password?</a>
        </div>

        <button class="login-btn">LOGIN</button>

        <!--Mục Đăng Ký-->
        <div class="register-link">
            To Register New Account → <a href="#">Click Here</a>
        </div>
    </div>

    <footer>
        © 2025 Login Form. All Rights Reserved
    </footer>
</body>
</html>
