<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Quản lý Xe Ra Vào</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <h1> Quản lý xe ra vào bãi</h1>

    <div class="forms-container">
      <!-- Form xe vào -->
      <div class="form-box">
        <h2>Xe Vào</h2>

          <button type="submit">Ghi nhận xe vào</button>
        </form>
      </div>

      <div class="form-box">
        <h2>Xe Ra</h2> 
          <button type="submit"> Ghi nhận xe ra</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
